<div class="container clearfix">

  <section id="about">

    <div class="row">

      <div class="col-md-12">

        <h2>Fire Unbound</h2>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col-md-12">

        <img class="img-profile img-fluid float-left" src="./assets/artwork/6/6-6.jpg" alt="Carolyn Portrait">

        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas facilisis ultrices. Suspendisse dapibus nisi non porttitor imperdiet. Pellentesque et velit sed leo maximus pharetra eu ut purus.

        </p>



        <p>

          Suspendisse nisi urna, suscipit vel nunc ac, laoreet aliquam felis. Morbi pretium fermentum felis, varius dignissim turpis.

        </p>



        <p>

          Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque commodo lobortis elit, id lacinia massa faucibus sed.

        </p>



        <p>

          Sed fermentum, mi ut dignissim efficitur, felis odio volutpat tellus, varius accumsan diam orci nec eros. Donec elementum molestie nulla, vitae dignissim velit malesuada in.

          Sed fermentum, mi ut dignissim efficitur, felis odio volutpat tellus, varius accumsan diam orci nec eros. Donec elementum molestie nulla, vitae dignissim velit malesuada in.



        </p>



        <p>

          Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque commodo lobortis elit, id lacinia massa faucibus sed.

          Suspendisse nisi urna, suscipit vel nunc ac, laoreet aliquam felis. Morbi pretium fermentum felis, varius dignissim turpis.

        </p>

      </div>

    </div>

  </section>

</div>
