<div class="container">
  <section id="contact">
    <div class="row">
      <div class="col-md-12">
        <h2>Contact</h2>
      </div>
    </div>
    <div class="form-style">

      <div class="row mt-3">
        <div class="col-md-12">

          <form name="contact_form" action="https://formspree.io/brandonssc@gmail.com" method="POST">

            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="John Smith">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <label for="email">E-mail</label>
          <input type="email" id="email" name="_replyto" placeholder="example@gmail.com">

        </div>
      </div>

      <div class="row">
        <div class="col-md-12">

          <label for="message">Message</label>
          <textarea id="message" name="message"></textarea>

        </div>
      </div>

      <button id="contact-submit" type="submit">Submit</button>

      </form>
    </div>

  </section>
</div>